# COMPOSER
/vendor


# WORDPRESS - 

# Core
#
# you can delete this whole section/until Configuration.
/wordpress/wp-admin/
/wordpress/wp-includes/
/wordpress/index.php
/wordpress/license.txt
/wordpress/readme.html
/wordpress/wp-*.php
/wordpress/xmlrpc.php

# Configuration
/wordpress/wp-config.php
!/wordpress/wp-config-sample.php
# Example themes
/wordpress/wp-content/themes/twenty*/

# Example plugin
/wordpress/wp-content/plugins/hello.php

# Uploads
/wordpress/wp-content/uploads/

# Log files
*.log

# htaccess
/wordpress/.htaccess

# Plugins

/wordpress/wp-content/plugins/
!/wordpress/wp-content/plugins/ListeDeCourse

/wordpress/wp-content/plugins/ListeDeCourse/vendor-ListeDeCourse

# All themes
/wp-content/themes

