<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://listeback.raffiskender.com/$1 [R=301,L]

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /Projets_Vue/ListeDeCouseBackend/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Projets_Vue/ListeDeCouseBackend/wordpress/index.php [L]
</IfModule>
